/*fonts*/

@font-face{
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*variables*/

:root{
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;
  --basic-brown: #766357;
  --basic-blue: #81b3d2;

  --special :#b1a9a9;

  /*btn & link*/

  --special-brown: #604e43;
  --special-brown-dark: #503e33;

  --special-blue: #669ec0;
  --special-blue-dark: #5496bd;

  --special-grey: #bdbbbc;

  /*rare*/

  --rare-black: #333333;
  --rare-grey: #f2f2f2;
  --rare-dark-grey: #666666;
  --shadow: rgba(0, 1, 1, 0.2);
  --rare-white: rgba(255, 255, 255, 0.3);
  --rare-point: #ababab;
  --rare-shadow: rgba(171, 171, 171, 0.3);
  --rare-neutral: #cacaca;
  --rare-neutral-dark: #ebebeb;
  --rare-dark: #e5e5e5;
}

/*global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);

  height: 100%;

    display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*grid*/

.page{
  height: 100%;
}

/*main navigation*/

.main-header-logo img {
  position: absolute;
  left: 531.5px;
  z-index: 1;
}

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 15px 72px;
}

.site-navigation li {
  width: 228px;
}

.site-navigation li:first-of-type,
.site-navigation li:nth-of-type(2) {
  text-align: left;
}

.site-navigation li:nth-of-type(4),
.site-navigation li:nth-of-type(3) {
  text-align: right;
}

.site-navigation li:nth-of-type(3) {
  margin-left: auto;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown)
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/*wrapper*/

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow);
}

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*welcome*/

.welcome {
  position: relative;
  background-color: var(--special);
  background-image: url("../img/background\ photo.jpg");

  height: 509px;
}

.welcome::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;
  background-image: url(../img/Shape.svg);
  left: 0;
  bottom: 0;
}

.welcome img {
  position: relative;
  left: 371px;
  top: 77px;
}

/*intro*/

.intro {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-white);
  padding-top: 42.5px;
  padding-bottom: 51px;
}

.intro p {
  margin: 0;
  padding: 0;
}

.intro p:not(:first-of-type) {
  font-size: 14px;
  font-weight: 400;
  margin-top: 46px;
}

/*first-reason*/

.first-reason {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.first-reason img {
  background-color: var(--special);
  width: 800px;
  height: 256px;
}

/*reason*/

.reason {
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  padding: 47px 51px 54px 52px;
}

.reason h2 {
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.reason p {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

/*recomendation*/

.recomendation {
  background-color: var(--basic-white);
}

.recomendation h2 {
  padding: 0;
  margin: 0;
}

.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 82px;
  padding-top: 160px;
}

.recomendation-item {
  position: relative;
  box-sizing:  border-box;
  text-align: center;
  width: 400px;
  padding: 0 50px;
}

.recomendation-item h3{
  font-size: 21px;
  margin: 0;
  padding: 0;
}

.recomendation-item p{
  font-weight: 400;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.recomendation-item-housing h3::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: -100px;
  left: 162px;

  background-image: url(../img/icon-1.svg);
}

.recomendation-item-food h3::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  top: -99px;
  left: 162px;
  background-image: url(../img/icon-3.svg);
}

.recomendation-item-souvenir h3::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  top: -105px;
  right: 168px;
  background-image: url(../img/icon-2.svg);
}

/*second-reason*/

.second-reason {
  display: grid;
  grid-template-areas: "img reason";
  grid-template-columns: 2fr 1fr;
}

.second-reason img {
  grid-area: img;
  background-color: var(--special);
  width: 800px;
  height: 256px;
}

.second-reason .reason {
  padding: 50px 47px 51px 50px;
  grid-area: reason;
}

/*reasons*/

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-neutral);
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 54px;
}

.reasons-item {
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  padding: 0 71px;
}

.recomendation-item:nth-of-type(3n) {
  margin-right: 0;
}

.reasons-item h2 {
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.reasons-item p {
  font-weight: 400;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

/*interesting*/

.interesting {
  text-align: center;
  line-height: 23px;
  background-color: var(--basic-white);
  padding-top: 58px;
}

.interesting h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}


.interesting p{
  font-weight: 400;
  margin: 0;
  margin-top: 37px;
  padding: 0;
}

/*btn*/

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

/*btn-poisk*/

.btn-poisk {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 86px;
  margin-top: 43px;
}

.btn-poisk:hover,
.btn-poisk:focus {
  background-color: var(--special-brown);
}

.btn-poisk:active {
  background-color: var(--special-brown-dark);
}

.btn-poisk:active span {
  opacity: 0.3;
}

/* form-poisk */

.form-poisk {
  font-size: 14px;
  position: absolute;
  left: 316px;
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  box-shadow: 0px 7px 15px var(--shadow);
  background-color: var(--basic-white);
}

.form-poisk form {
  display: flex;
  flex-direction: column;
}

.form-poisk p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.date-entering,
.date-ending {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-poisk input {
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--rare-grey);
}

.form-poisk input:hover {
  background-color: var(--rare-neutral-dark);
}

.form-poisk input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--rare-dark);
}

.form-poisk .input-date-ending,
.form-poisk .input-date-entering {
  width: 346px;
  height: 38px;
  padding-left: 12px;
}

.date-ending svg,
.date-entering svg {
  position: absolute;
  width: 21px;
  height: 23px;
  right: 64px;
}

.input-adult,
.input-child {
  text-align: center;
  width: 114px;
  height: 38px;
}

.rectangle {
  position: absolute;
  width: 12px;
  height: 3px;
}

.union {
  position: absolute;
  width: 11px;
  height: 11px;
}


.adult .rectangle {
  left: 180px;
}

.adult .union {
  left: 256px;
}

.child .rectangle {
  right: 143px;
}

.child .union {
  right: 68px;
}

.calendar:focus,
.rectangle:focus,
.union:focus {
  outline: none;
}

.calendar:hover path,
.calendar:focus path,
.rectangle:hover rect,
.rectangle:focus rect,
.union:hover path,
.union:focus path {
  fill: var(--basic-black);
}

.calendar:active path,
.rectangle:active rect,
.union:active path {
  fill: var(--basic-blue);
}

.adult,
.child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adult {
  width: 226px;
}

.child {
 width: 178px;
}

.form-poisk p:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
}

.btn-form-poisk {
  font-size: 21px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  height: 58px;
  margin-top: 24px;
}

.btn-form-poisk:hover,
.btn-form-poisk:focus {
  background-color: var(--special-blue);
}

.btn-form-poisk:active {
  background-color: var(--special-blue-dark);
}

.btn-form-poisk:active span {
  opacity: 0.3;
}

/* map */

.map {
  height: 473px;
  background-image: url(../img/map.jpg);
}

/*main-footer*/

.main-footer .footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  background-color: var(--basic-white);
  opacity: 0.9;
  padding-top: 21px;
  padding-bottom: 36px;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

/*footer-contacts*/

.footer-contacts {
  font-size: 21px;
  line-height: 33px;
  text-align: center;
  padding-left: 74px;
}

.footer-phone {
  color: inherit;
  text-decoration: none;
}

/*footer-social*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-top: 14px;
}

/*social btn*/

.social-btn{
  display: flex;
  align-content: center;
  justify-content: center;
  color: inherit;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-btn:hover,
.social-btn:focus {
  background-color: var(--special-blue);
}

.social-btn:active {
  background-color: var(--special-blue-dark);
}

.social-btn:active img {
  opacity: 0.3;
}

/*footer-copyright*/

.footer-copyright {
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-right: 73px;
  padding-top: 20px;
}

.footer-copyright-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  width: 197px;
  margin: 0 auto;
}

.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
  fill: var(--basic-blue);
}

.footer-copyright-link:active path {
  fill: var(--special-grey);
}

/*Catalog page*/

/*filters*/

.filters {
  color: var(--basic-white);
  background-color: var(--special);
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 73px;
  padding-top: 26.5px;
  height: 217px;
  box-sizing: border-box;
  background-image: url(../img/background.jpg);
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter ul{
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:focus + label{
  outline: 2px solid var(--basic-white);
}

.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:disabled + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off-dis.svg);
}

.filter-input-checkbox:disabled:checked + label::before{
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on-dis.svg);
}

.filter .filter-infostructure {
  margin-right: 124px;
}

.filter .filter-type {
  margin-right: auto;
}

.filter .last-column-filter {
  display: flex;
  flex-direction: column;
  width: 328px;
}

.filter-price {
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.filter-price legend {
  margin-bottom: 11px;
}

.filter-range {
  width: 317px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--basic-white);
  font-weight: 400;
}

.price-controls label {
  width: 155px;
  text-align: right;
  margin: 5px 0;
}

.price-controls label:first-child {
  border-right: 2px solid var(--basic-white);
}

.price-controls input{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  width: 75px ;
}

.range-controls {
  position: relative;
  padding-top: 21px;
}

.range-controls .scale {
  height: 2px;
  background: var(--rare-white);
}

.range-controls .bar {
  width: 75%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 11px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background: var(--rare-point);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--rare-shadow);
  cursor: pointer;
}

.range-controls .toggle:hover {
  border: 9px solid var(--basic-white);
}

.range-controls .toggle-min{
  left:0;
}

.range-controls .toggle-max{
  left: 75%;
}

/*btn-filter*/

.btn-filter{
  font-weight: 400;
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  align-self: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 32px;
  width: 137px;
  height: 38px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*result*/

.result-info {
  display: flex;
  background-color: var(--basic-white);
  padding: 32px 74px 30px 72px;
  border-bottom: 1px solid var(--rare-dark);
}

.result-info p {
  font-size: 21px;
  padding: 0;
  margin: 0;
  margin-right: 47px;
}

.result-info p:nth-of-type(2) {
  margin-right: 40px;
}

.result-info p:not(:first-child) {
  font-size: 12px;
  font-weight: 400;
}

.result-sort-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.result-sort-item {
  margin-right: 33px;
}

.result-sort-item a {
  color: var(--basic-black);
  font-weight: 400;
  border-bottom: 1px dashed var(--basic-blue);
}

.result-sort-item a:hover,
.result-sort-item a:focus {
  opacity: 1;
  color: var(--special-blue);
}

.result-sort-item a:active {
  opacity: 1;
  color: var(--basic-black);
  border: none;
}

.result-sort-current-item a,
.result-sort-current-item a:hover,
.result-sort-current-item a:focus,
.result-sort-current-item a:active {
  color: var(--special-blue);
  opacity: 1;
  border: none;
}

.result-item-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style: none;
  width: 34px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.sort path {
  fill: var(--rare-neutral);
}

.sort:hover path,
.sort:focus path {
  fill: var(--basic-black);
}

.sort:active path {
  fill: var(--basic-blue);
}

.sort-current path,
.sort-current:hover path,
.sort-current:focus path,
.sort-current:active path {
  fill: var(--basic-blue);
}

/*result-hotel-list*/

.result-hotels-list{
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* hotels-list-item */

.hotels-list-item {
  display: flex;
  align-content: start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  padding: 29px 73px 30px 73px;
  border-bottom: 1px solid var(--rare-dark);
}

.column-item {
  margin-right: auto;
}

.hotels-list-item h3{
  padding: 0;
  margin: 0;
  }

.hotel-item-link {
  font-size: 21px;
  line-height: 0px;
  color:inherit;
}

.hotel-item-link:hover,
.hotel-item-link:focus {
  color: var(--basic-blue);
}

.hotel-item-link:active {
  opacity:0.3;
}

.hotels-list-item img {
  width: 135px;
  height: 90px;
  background-color:  var(--special);
  order:-1;
  margin-right: 29px;
  object-fit: contain;
}

.hotels-list-item p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.column-item {
  display: flex;
  flex-direction: column;
}

.column-item .small-info-hotel{
  display: flex;
  margin-top: 6px;
  margin-bottom: 5px;
}

.column-item .small-info {
  color: var(--rare-black);
  width: 110px;
}

.small-info-hotel .class-hotel {
  margin-right: 5px;
}

.column-item .btns-hotels {
  margin-top: 13px;
}

.rating-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.rating-star {
  display: flex;
  justify-content: end;
}

.rating-star img {
  width: 19px;
  height: 17px;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  background: transparent;
}

.hotels-list-item .rating  {
  text-align: center;
  width: 110px;
  color: var(--rare-dark-grey);
  background-color: var(--rare-grey);
}

/*btn-info btn-booking*/

.btn-info,
.btn-booking {
  color: var(--basic-white);
}

.btn-info{
  background-color: var(--basic-blue);
  width: 110px;
  height: 27px;
  padding: 4px 16px;
  margin-right: 4px;
}

.btn-info:focus,
.btn-info:hover {
  background-color: var(--special-blue);
}

.btn-info:active {
  background-color: var(--special-blue-dark);
}

.btn-info:active span{
  opacity: 0.3;
}

.btn-booking {
  background-color: var(--basic-brown);
  width: 142px;
  height: 27px;
  padding: 4px 17px;
}

.btn-booking:focus,
.btn-booking:hover {
  background-color: var(--special-brown);
}

.btn-booking:active {
  background-color: var(--special-brown-dark);
}

.btn-booking:active span {
  opacity: 0.3;
}
