/*fonts*/

@font-face{
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}



/*variables*/

:root{
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white: #ffffff;
  --basic-neutral: #eeeeee;
  --basic-brown: #766357;
  --basic-blue: #81b3d2;

  --special :#b1a9a9;

  /*btn & link*/

  --special-brown: #604e43;
  --special-brown-dark: #503e33;

  --special-blue: #669ec0;
  --special-blue-dark: #5496bd;

  --special-grey: #bdbbbc;

  /*rare*/

  --rare-black: #333333;
  --rare-grey: #f2f2f2;
  --rare-dark-grey: #666666;
  --shadow: rgba(0, 1, 1, 0.2);
}

/*global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);

  height: 100%;

    display: grid;
  grid-template-rows:
    min-content
    1fr
    min-content;
  align-content: start;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*grid*/

.page{
  height: 100%;
}

/*main navigation*/

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 15px 50px;

}

.site-navigation li {
  width: 275px;
}

.site-navigation li:first-of-type,
.site-navigation li:nth-of-type(2) {
  text-align: left;
}

.site-navigation li:nth-of-type(4),
.site-navigation li:nth-of-type(3) {
  text-align: right;
}


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown)
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

/*wrapper*/

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px var(--shadow);
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*welcome*/

.welcome {
  background: var(--special) url("../img/background\ photo.jpg") no-repeat;
  height: 509px;
}

/*intro*/

.intro {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-white);
  padding-top: 46px;
  padding-bottom: 51px;
}

.intro p {
  margin: 0;
  padding: 0;
}

.intro p:not(:first-of-type) {
  font-size: 14px;
  font-weight: 400;
  margin-top: 48px;
}

/*first-reason*/

.first-reason {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.first-reason img {
  background-color: var(--special);
  width: 800px;
  height: 256px;
}

/*reason*/

.reason {
  font-weight: 400;
  text-align: center;
  background-color: var(--basic-blue);
  padding-top: 47px;
  color: var(--basic-white);
  padding: 50px 46px;
}

.reason h2 {
  font-size: 21px;
  margin: 0;
  padding: 0;
}

/*recomendation*/

.recomendation {
  background-color: var(--basic-white);
}

.recomendation h2 {
  padding: 0;
  margin: 0;
}

.recomendation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 82px;
  padding-top: 60px;
}

.recomendation-item {
  box-sizing:  border-box;
  text-align: center;
  width: 400px;
  padding: 0 50px;
}

.recomendation-item h3{
  font-size: 21px;
}

.recomendation-item p{
  font-weight: 400;
}


/*second-reason*/

.second-reason {
  display: grid;
  grid-template-areas: "img reason";
  grid-template-columns: 2fr 1fr;
}

.second-reason img {
  grid-area: img;
  background-color: var(--special);
  width: 800px;
  height: 256px;
}

.second-reason .reason {
  grid-area: reason;
}

/*reasons*/

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-neutral);
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 54px;
}

.reasons-item {
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  padding: 0 70px;
}

.recomendation-item:nth-of-type(3n) {
  margin-right: 0;
}

.reasons-item h2 {
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.reasons-item p {
  font-weight: 400;
}

/*interesting*/

.interesting {
  text-align: center;
  background-color: var(--basic-white);
}

.interesting h2 {
  font-size: 21px;
}

.interesting p{
  font-weight: 400;
}

/*btn*/

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

/*btn-poisk*/

.btn-poisk {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 568px;
  height: 68px;
}

.btn-poisk:hover,
.btn-poisk:focus {
  background-color: var(--special-brown);
}

.btn-poisk:active {
  background-color: var(--special-brown-dark);
}

.btn-poisk:active span {
  opacity: 0.3;
}

/*main-footer*/

.main-footer .footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--basic-white);
  opacity: 0.9;
  padding-top: 23px;
  padding-bottom: 36px;
}

.footer-wrapper section{
  width: 400px;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

/*footer-contacts*/

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-phone {
  color: inherit;
  text-decoration: none;
}

/*footer-social*/

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*social btn*/

.social-btn{
  color: inherit;
}

/*footer-copyright*/

.footer-copyright {
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

/*Catalog page*/

/*filters*/

.filters {
  color: var(--basic-white);
  background-color: var(--special);
}

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 26.5px;
  height: 217px;
  box-sizing: border-box;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 25px;
}

.filter ul{
  font-weight: 400;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter .filter-option {
  margin-bottom: 25px;
}

.filter .filter-infostructure {
  margin-right: 120px;
}

.filter .filter-type {
  margin-right: auto;
}

.filter .last-column-filter {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.filter-price {
  display: flex;
  flex-direction: column;
}

.filter-range-list {
  display: flex;
  border: 2px solid var(--basic-white);
  text-align: center;
}

.filter-range-list li:first-of-type {
  border-right: 2px solid var(--basic-white);
}

.filter-range-list li {
  width: 180px;
  margin: 7px 0;
}

.filter-range {
  margin-top: 20px;
}

/*btn-filter*/

.btn-filter{
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  align-self: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 30px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*result*/

.result-info {
  display: flex;
  background-color: var(--basic-white);
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 27px;
}

.result-info p {
  font-size: 21px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.result-info p:not(:first-child) {
  font-size: 12px;
  font-weight: 400;
}

.result-sort-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.result-sort-item {
  margin-right: 35px;
}

.result-sort-item a {
  color: var(--basic-black);
  font-weight: 400;
  border-bottom: 1px dashed var(--basic-blue);
}

.result-sort-item a:hover,
.result-sort-item a:focus {
  opacity: 1;
  color: var(--special-blue);
}

.result-sort-item a:active {
  opacity: 1;
  color: var(--basic-black);
  border: none;
}

.result-sort-current-item a,
.result-sort-current-item a:hover,
.result-sort-current-item a:focus,
.result-sort-current-item a:active {
  color: var(--special-blue);
  opacity: 1;
  border: none;
}

.result-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*result-hotel-list*/

.result-hotels-list{
  background-color: var(--basic-white);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* hotels-list-item grid */

.hotels-list-item {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90px;
  padding: 29px 50px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item h3{
  padding: 0;
  margin: 0;
  }

.hotel-item-link {
  font-size: 21px;
  line-height: 26px;
  color:inherit;
}

.hotel-item-link:hover,
.hotel-item-link:focus {
  color: var(--basic-blue);
}

.hotel-item-link:active {
  opacity:0.3;
}

.hotels-list-item img {
  width: 135px;
  height: 90px;
  background-color:  var(--special);
  order:-1;
  margin-right: 30px;
}

.hotels-list-item p {
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}

.small-info-hotel {
  margin-bottom: 8.5px;
}

.hotels-list-item .small-info {
  color: var(--rare-black);
}

.hotels-list-item .rating  {
  width: 110px;
  text-align: center;
  color: var(--rare-dark-grey);
  background-color: var(--rare-grey);
  order: 2;
}

/*btn-info btn-booking*/

.btn-info,
.btn-booking {
  color: var(--basic-white);
  padding: 3px 15px;
}

.btn-info{
  background-color: var(--basic-blue);

}

.btn-info:focus,
.btn-info:hover {
  background-color: var(--special-blue);
}

.btn-info:active {
  background-color: var(--special-blue-dark);
}

.btn-info:active span{
  opacity: 0.3;
}

.btn-booking {
  background-color: var(--basic-brown);
}

.btn-booking:focus,
.btn-booking:hover {
  background-color: var(--special-brown);
}

.btn-booking:active {
  background-color: var(--special-brown-dark);
}

.btn-booking:active span {
  opacity: 0.3;
}
